[user]
[core]
  excludesfile = ~/.gitignore
  editor = vim
[color]
  ui = auto
[color "status"]
    added = green
    changed = red
    untracked = cyan
[push]
  default = simple
[alias]
  ci = commit
  co = checkout
  br = branch -a
  st = status

  s = status -s
  ac = !git add -A && git commit

  last = log -1 HEAD
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  lol = log --oneline --graph --decorate
  count = !git shortlog -sn

  promote = !$DOT/bin/git-promote
  wtf     = !$DOT/bin/git-wtf
  rank-contributors = !$DOT/bin/git-rank-contributors

  wipe = reset --hard HEAD
  undo = reset --soft HEAD^
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short


[credential]
	helper = netrc -f ~/.netrc.asc -v




